
.service-card{
  border-radius: 8px;
  padding: 5px;
  /* border: 1px solid salmon; */
  box-shadow: #63636333 0px 2px 8px 0px;
  min-height: 470px;
  position: relative;
  
}
.service-card:hover{
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.service-text{
  padding: 20px;
}
.checkout{
  position: absolute;
  bottom: 0;
  margin: 10px;
  border-radius: 20px !important;
}