#custom-btn{
  background-color: #6d28d9;
  border: 0;
  /* border-radius: 0; */
}
.nav a{
  font-size: 20px;
  margin:5px 10px;
}
.main-nav {
  box-shadow: 0 2px 4px #00000026;
}
.nav a:hover{
  margin: 3px 10px;
  border-bottom: 2px solid crimson;
  transition: .1s;
}