.main-service{
  max-width: 1000px;
  align-items: center;
  margin: 20px auto;
}
.service{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  justify-items: center;
}
.tutor-help{
  margin-top: 10px;
  padding: 40px;
  background-color: #149290;
}
@media screen and (min-width:768px) and (max-width:992px) { 
  .service{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width:767px) { 
  .service{
    grid-template-columns: repeat(1,1fr);
  }
}